

.gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery .photo-card {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 2rem;
}

.gallery .photo-card:hover .imgBox {
    transform: scale(1.03);
}

.gallery .photo-card:hover .info {
    transform: scale(1.03);
}

.imgBox {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.imgBox img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    resize: both;
}

.info {
    position: absolute;
    z-index: 2;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    gap: 5px;
    padding: 2px;
    font-size: 12px;
    color: rgb(74, 22, 22);
    border-radius: 0 0px 4px 4px;
    background-color: rgb(241, 241, 241);
    transition: all 0.5s ease-in-out;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}